DISABLE_LS_COLORS="true"
export LANG=de_DE.UTF-8

# Stack binaries
export PATH="$HOME/.local/bin":$PATH

# export NVM_DIR="$HOME/.nvm"
# [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm

# source /usr/share/nvm/init-nvm.sh