#!/bin/sh

# Set to correct output device and resolution
xrandr --output VGA-0 --mode 1920x1080

# VirtualBox guest utilities
/usr/bin/VBoxClient-all

# Set to path for background image
feh --bg-scale ~/Downloads/sword_art_online.jpg
